@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Person Create System</h1>
    <p class="lead">Term Project for Web Tabanlı Windows Programlama</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Show All Contacts</h2>
        <p><a class="btn btn-default" href="/People">Show &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create New Person</h2>
        <p><a class="btn btn-default" href="/People/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Show Person Charts</h2>
        <p><a class="btn btn-default" href="/Chart/Index">Show &raquo;</a></p>
    </div>
</div>